@font-face {
    font-family: 'open sans';
    src: url('/src/assets/font/LauraScriptDemoRegular.ttf') format('ttf'),
    url('/src/assets/font/LauraScriptDemoRegular.ttf');
}
@font-face {
    font-family: 'bestMoment';
    src: url('/src/assets/font/Best\ Moment.otf') format('otf'),
    url('/src/assets/font/Best\ Moment.otf');
}